header {
    padding-top: 2%;
    padding-bottom: 1px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    grid-area: header;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgb(40, 42, 53);
}

body {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    background-image: url("fruit.jpg"), linear-gradient(rgb(49, 49, 49), darkgray);
    background-repeat: repeat-x;
    background-size: cover;
    overflow: hidden;
}

footer {
    height: 100%;
    width: 100%;
    background-color:rgb(40, 40, 40);
    position: fixed;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    ' newItemLabel newItemLabel itemTable itemTable itemTable '
    ' newItemName newItemName itemTable itemTable itemTable '
    ' newItemPrice newItemPrice itemTable itemTable itemTable '
    ' newItemLocation newItemLocation itemTable itemTable itemTable '
    ' packaged packaged itemTable itemTable itemTable '
    ' submit submit itemTable itemTable itemTable ';
    grid-gap: 1em;
    height: 700px;
    max-height: 700px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: black;
}

.table-container {
    grid-area: itemTable;
    min-width: 100%;
    max-width:100%;
    height: 700px;
}

.itemTable {
    border: 1px solid white;
    border-radius: 3px;
    min-width: 100%;
    max-width: 100%;
    height: 97%;
    overflow-y:scroll;
}

.itemTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    background-color: #1aebff;
    color: black;
    
}

.itemTable td, .itemTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.itemTable tr:nth-child(even){background-color: rgb(40, 42, 53);}

.itemTable tr:hover {background-color: #3f3f3f;}

.items {
    width: 100%;
    border-collapse: collapse;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
}

.newItemLabel {
    grid-area: newItemLabel;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: larger;
    height: 80px;
    min-width: 100%;
    max-width: 100%;
}

.itemText {
    padding-top: 14%;
    margin-bottom: 0%;
    color: rgb(255, 255, 255);
}

.itemSubtext {
    color: rgb(255, 255, 255);
    font-size: smaller;
    font-weight: normal;
    margin-bottom: 12%;
}

.newItemName {
    grid-area: newItemName;
}

.newItemPrice {
    grid-area: newItemPrice;
}

.newItemLocation {
    grid-area: newItemLocation;
}

.packageType {
    grid-area: packaged;
}

.addToTable {
    grid-area: submit;
}



.accessibility {
    margin-top: 5%;
    text-align: center;
    background-color: #ffff00;
    color: black;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 35%;
}

.btn-lg {
    min-width: 100%;
}

.btn-primary, .btn-outline-primary {
    background-color: #ffff00!important;
    color: black!important;
}

.btn-danger {
    background-color: #ff0000!important;
    color: white!important;
}

.modal-content {
    padding-left: 2%;
    padding-right: 2%;
}

.confirmation {
    display: grid;
    grid-template-areas: 
    ' cancel confirm ';
    grid-gap: 1em;
}

.cancelUpdate {
    grid-area: 'cancel';
    width: 100%;
}

#cancelUpdate {
    width: 100%;
}