header {
    height: 200px;
    width: 100%;
    background-color:rgb(40, 40, 40);
    position: fixed;
}

body {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    background-image: url("fruit.jpg"), linear-gradient(rgb(49, 49, 49), darkgray);
    background-repeat: repeat-x;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

footer {
    height: 100%;
    width: 100%;
    background-color:rgb(40, 40, 40);
    position: fixed;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    ' . title title title .'
    ' itemTable itemTable itemTable itemTable itemTable '
    ' . . . . . ';
    /* grid-gap: 1em; */
    height: 100%;
    min-height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: whitesmoke;
}

.report-attributes {
    grid-area: title;
    padding-top: 6%;
    /* padding-bottom: 2%; */
    border-radius: 20px;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: larger;
    min-width: 100%;
    max-width: 100%;
}

.description {
    color:grey;
    font-weight: normal !important;
}

.table-container {
    grid-area: itemTable;
    min-width: 100%;
    max-width:100%;
    height: 600px;
}

.reportTable {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    min-width: 100%;
    max-width: 100%;
    height: 95%;
    overflow-y:scroll;
}

.reportTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(61, 125, 242);
    color: white;
    
}

.reportTable td, .reportTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.reportTable tr:nth-child(even){background-color: #f2f2f2;}

.reportTable tr:hover {background-color: #ddd;}

.report {
    width: 100%;
    border-collapse: collapse;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}

.summary {
    margin-top: 1%;
    display: grid;
    grid-template-areas: 
    ' . sum sum sum sum ';
    width: 100%;
}

#sumLine {
    grid-area: sum;
    width: 100%;
}

#sumTitle {
    text-align: center;
    background-color: rgb(61, 125, 242);
    color: white;
    height: 60px;
}

.revenue {
    padding-top: 17px;
    padding-right: 10px;
    width: 50%;
    height: 60px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    text-align: right;
}

#euro {
    height: 60px;
}


.accessibility {
    margin-top: 5%;
    text-align: center;
    background-color: rgb(61, 125, 242);
    color: black;
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 35%;
}