header {
    padding-top: 2%;
    padding-bottom: 1px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    grid-area: header;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgb(40, 42, 53);
}

body {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    background-image: url("fruit.jpg"), linear-gradient(rgb(49, 49, 49), darkgray);
    background-repeat: repeat-x;
    background-size: cover;
    overflow: hidden;
}

footer {
    height: 100%;
    width: 100%;
    background-color:rgb(40, 40, 40);
    position: fixed;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    ' . . reportTable reportTable reportTable '
    ' reportInfo reportInfo reportTable reportTable reportTable '
    ' generateReport generateReport reportTable reportTable reportTable'
    ' . . reportTable reportTable reportTable '
    ' . . reportTable reportTable reportTable ';
    grid-gap: 3em;
    height: 700px;
    max-height: 700px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: black;
}

.report-attributes {
    grid-area: reportInfo;
    padding-top: 6%;
    padding-bottom: 3%;
    margin-left: 5%;
    border-radius: 20px;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: larger;
    min-width: 100%;
    max-width: 100%;
}

.description {
    color:grey !important;
    font-weight: normal !important;
}

.report-attributes h2 {
    color:white;
}

.report-attributes p {
    color:white;
}

.table-container {
    grid-area: reportTable;
    min-width: 100%;
    max-width:100%;
    height: 650px;
}

.reportTable {
    border: 1px solid white;
    border-radius: 3px;
    min-width: 100%;
    max-width: 100%;
    height: 95%;
    overflow-y:scroll;
}

.reportTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    background-color: #1aebff;
    color: black;
    
}

.reportTable td, .reportTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.reportTable tr:nth-child(even){background-color: rgb(40, 42, 53);}

.reportTable tr:hover {background-color: #3f3f3f;}

.report {
    width: 100%;
    border-collapse: collapse;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
}

.summary {
    margin-top: 1%;
    /* height: 20px; */
    
    display: grid;
    grid-template-areas: 
    'sum sum sum sum open';
    /* grid-template-columns: 3fr 1fr;
    grid-template-rows:  */
    
    /* background:green; */
}

#sumLine {
    grid-area: sum;
}

#sumTitle {
    text-align: center;
    background-color: #1aebff;
    color: black;
    height: 60px;
}

.revenue {
    padding-top: 17px;
    padding-right: 10px;
    width: 50%;
    height: 60px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: #3f3f3f;
    color: white;
    text-align: right;
}

#euro {
    height: 60px;
}

.openReport {
    grid-area: open;
    width: 100%; 
}

.generateReport {
    grid-area: generateReport;
    margin-left: 5%;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    align-items: center;
}

#reportButton {
    height: 70px;
}

#openButton {
    height: 60px;
    padding-bottom: 8px;
}


.accessibility {
    margin-top: 5%;
    text-align: center;
    background-color: #ffff00;
    color: black;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 35%;
}


.btn-lg {
    min-width: 100%;
}

.btn-primary, .btn-outline-primary {
    background-color: #ffff00!important;
    color: black!important;
}